* {
  margin:0;
  padding: 0p;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: green;
    font-size: 60px;
  }

  

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #logo:hover{
    border: 30px solid white;
  }

  #video {
    
    margin: 100px;
   
    border: 30px solid black
  }

  #video:hover {
    border: 30px solid white
  }

  h2 {
    font-size: 40px
  }

  .clearfix {
    overflow: auto;
  }

  a {
      font-size: 30px;
  }

  .hyperlinks {
    text-align: center
  }


  .fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-twitch {
    background: blueviolet;
    color: white;
  }

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-snapchat {
  background: yellow;
  color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: green;
    text-align: center;
    clear: both;
    }

    #box {
        background-color: white;
        width: 560px;
        height: 315px;
        padding: 10%;
    }


.header {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
      text-align: center;
    clear: both;
    padding: 20px;
    border: 20px solid black;
    margin: 0px;
}

  #picturebox {
    border: 30px solid black;
    float: left;
    margin: 10px;

    
  }
  #picturebox:hover {
    border: 30px solid white;
  }

  #divabout{
    display: inline;
  }

  .aboutme{
    
    display: inline;
    padding-left: 850px;
    text-decoration: underline;

    
  }

  body{
    
    margin: 0;
    padding: 0;
    background-color: silver;
    
    
    
  }

  form{
    display: inline-block;
  }

  iframe{
    float: right;
  }